
/* Header CSS */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 10%;
  background-color: #2e3b4e;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  height: 80px; /* Adjusted height */
}

.header-name h3 {
  font-size: 1.8rem;
  font-weight: 600;
}

nav ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  margin-left: 30px;
}

nav ul li a {
  text-decoration: none;
  color: white;
  font-size: 1.1rem;
  font-weight: 500;
}

nav ul li a:hover {
  color: #ff5733;
}

/* Adjust padding for body to prevent content being overlapped by fixed header */
body {
  padding-top: 80px; /* Height of the header */
}
header nav ul li a {
  text-decoration: none;
  color: rgb(255, 191, 0);
}

header nav ul li a:hover {
  color: rgb(255, 191, 0);
}

